<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="d0464449-5b1d-400f-94f5-898e44186049" Publisher="CN=test" Version="1.0.0.2" />
  <Properties>
    <DisplayName>ikivancdBSample</DisplayName>
    <PublisherDisplayName>Mobile Services</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ikivancdBSample.App">
      <m2:VisualElements DisplayName="MEATE - Audio Amplitude Stream" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ikivancdBSample" ForegroundText="light" BackgroundColor="#FFFFFF">
        <m2:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>